body {
    margin: 0;
}

/************** Font ************/

@font-face {
    font-family: "Renner";
    src: url("font/renner-bold.woff2") format("woff2"), url("font/renner-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

/*****************SCENE *************/

#scene {
    position: relative;
    background-image: url(img/baggrund_skolegaard.jpg);
    background-size: cover;
    width: 100vw;
    height: 51vw;
}

/********************* START SIDE ************************/

#start h1 {
    font-family: "Renner";
    color: #F4912D;
    left: 15%;
    top: 8%;
    font-size: 6vw;
    position: absolute;
}

#start img {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 58vw;
    transform: scale(1.1);
}

#start {
    background-color: #202532;
    width: 100vw;
    height: 51vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.start_knap_btn {
    width: 25vw;
    margin: 0;
    padding: 5px;
    padding-top: 10px;
    border: none;
    position: absolute;
    background-color: #F4912D;
    top: 62%;
    left: 17%;
    font-family: "Renner";
    color: #ffffff;
    font-size: 6vw;
    cursor: pointer;
}

/********************* PETER ************************/

/********************* CONTAINER ********************/

#peter_container {
    position: absolute;
    margin-top: 3.5%;
}

.peter_walk_ind {
    animation-name: peter_walk_ind_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes peter_walk_ind_kf {
    0% {
        top: 0%;
        left: 100%;
    }
    100% {
        top: 0%;
        left: 10%;
    }
}

/********************* PETER SPRITE *****************/

#peter_sprite {
    background-image: url(img/peter_sprite.svg);
    width: 90vw;
    height: 50vw;
    background-size: 800% 300%;
    position: relative;
    transform: scale(0.9);
}

.peter_walkcycle {
    animation-name: peter_walkcycle_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(8);
    animation-fill-mode: backwards;
}

@keyframes peter_walkcycle_kf {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -800% 0%;
    }
}

.peter_vinker_cycle {
    animation-name: peter_vinker_cycle_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
    animation-fill-mode: both;

}

@keyframes peter_vinker_cycle_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -400% -100%;
    }
}

.peter_fremad_cycle {
    animation-name: peter_fremad_cycle_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
}

@keyframes peter_fremad_cycle_kf {
    0% {
        background-position: 0% -200%;
    }
    100% {
        background-position: -400% -200%;
    }
}

/********************* PETER SLUT ****************/

/********************* PULSE  ****************/

.puls_knap_del {
    animation-name: puls_knap_del_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes puls_knap_del_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

.puls_knap_slet {
    animation-name: puls_knap_slet_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes puls_knap_slet_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

/***************** del knap ***************/

#del_knap_container {
    position: absolute;
    background-size: cover;
    background-image: url(img/del.png);
    width: 14.5vw;
    height: 14vw;
    left: 69%;
    top: 70%;
    cursor: pointer;
}

.del_knap_btn {
    transform: scale(0.2);
}

/***************** slet knap ***************/

#slet_knap_container {
    position: absolute;
    background-size: cover;
    background-image: url(img/slet.png);
    width: 14.5vw;
    height: 14vw;
    left: 83%;
    top: 70%;
    cursor: pointer;
}

.slet_knap_btn {
    transform: scale(0.2);
}

/********************* DELING AF FOTO ****************/

#del_scene {
    position: relative;
    background-image: url(img/by_billede.jpg);
    background-size: cover;
    width: 100vw;
    height: 51vw;
    /*    z-index: 2;
    */
}

#del_container {
    position: absolute;
    top: 50 %;
    left: 35 %;
}

.del_container_kopi {
    position: absolute;
}

#del_sprite {
    width: 11.5vw;
    height: 23vw;
    background-size: cover;
    transform: scale(0.7);
}

.phone {
    background-image: url(img/mobil_mednogenbillede.png);
}

/********************* DELING AF FOTO SLUT ****************/

/*********************  PIGE ****************/

#pige_scene {
    position: relative;
    background-image: url();
    background-size: cover;
    width: 100vw;
    height: 51vw;
    background-color: #202532;
}

/********************* CONTAINER ********************/

#pige1_container {
    position: relative;
    animation-duration: 2s;
}

.pige1_sprite {
    background-size: cover;
    width: 25vw;
    height: 25vw;
    top: 3%;
    left: -30%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    background-image: url(img/pige1.jpg);

}

#pige2_container {
    position: relative;
    animation-duration: 2s;
}

.pige2_sprite {
    background-size: cover;
    width: 25vw;
    height: 25vw;
    top: -20%;
    left: 2%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    background-image: url(img/pige2.jpg)
}

#pige3_container {
    position: relative;
    animation-duration: 2s;
}

.pige3_sprite {
    background-size: cover;
    width: 25vw;
    height: 25vw;
    top: -50%;
    left: 33%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    background-image: url(img/pige3.jpg);
}

/********************* PIGE SLUT *****************/

/******************FUGL*****************/

#fugl_container {
    position: absolute;
    animation-timing-function: linear;
    margin-top: 11%;
}

.fugl_walk_ind {
    animation-name: fugl_walk_ind_kf;
    animation-duration: 5.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.1s;
    transform: scale(0.6)
}

@keyframes fugl_walk_ind_kf {
    0% {
        top: -26%;
        left: -100%;
    }

    100% {
        top: -26%;
        left: 100%;
    }
}

/********************* FUGL SPRITE *****************/

#fugl_sprite {
    background-image: url(img/fugl_asset_nu.svg);
    width: 18vw;
    height: 12vw;
    background-size: 600% 100%;
    position: relative;
}


.fugl_walkcycle {
    animation-name: fugl_walkcycle_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
    animation-fill-mode: both;

}

@keyframes fugl_walkcycle_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -600% 0%;
    }
}

/**************** foto_slettes_scene ************/

#foto_slettes_scene {
    background-image: url(img/by_billede.jpg);
    background-size: cover;
    width: 100vw;
    height: 51vw;
    position: relative;
}

.foto {
    background-image: url(img/mobil_mednogenbillede.png);
    background-size: cover;
    width: 11.5vw;
    height: 23vw;
    transform: scale(0.7);
    position: absolute;

}

.pos1 {
    left: 80%;
    top: 42%;
}

.pos2 {
    left: 38%;
    top: 45%;
}

.pos3 {
    left: 12%;
    top: 50%;
}

.pos4 {
    left: 75%;
    top: 5%;
}

.pos5 {
    left: 47%;
    top: 19%;
}

.pos6 {
    left: 8%;
    top: 11%;
}

.pos7 {
    left: 69%;
    top: 55%;
}

.pos8 {
    left: 50%;
    top: 61%;
}

.pos9 {
    left: 0%;
    top: 60%;
}

.pos10 {
    left: 89%;
    top: 7%;
}

.pos11 {
    left: 13%;
    top: 1%;
}

.pos12 {
    left: 21%;
    top: 50%;
}

.pos13 {
    left: 65%;
    top: 5%;
}

.pos14 {
    left: 37%;
    top: 19%;
}

.pos15 {
    left: 22%;
    top: 11%;
}

.pos16 {
    left: 69%;
    top: 10%;
}

.pos17 {
    left: 67%;
    top: 60%;
}

.pos18 {
    left: 0%;
    top: 10%;
}

.pos19 {
    left: 0%;
    top: 20%;
}

.pos20 {
    left: 0%;
    top: 30%;
}

.puls {
    animation: puls_kf 0.5s infinite alternate linear;
}

@keyframes puls_kf {
    0% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(0.6);
    }
}

/********************* SLUT SIDER *****************/

#godt_goet_tekst {
    background-image: url(img/thumbsup.png);
    background-size: cover;
    width: 100vw;
    height: 51vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}

#slutside {
    background-size: cover;
    width: 100vw;
    height: 51vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/********************* SLUT SIDE DESIGN *****************/

#slut {
    background-color: #202532;
    width: 100vw;
    height: 51vw;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

#slut h1 {
    font-family: "Renner";
    color: #F4912D;
    left: 2%;
    top: -6%;
    font-size: 6vw;
    position: absolute;
}

#slut h2 {
    font-family: "Renner";
    color: #F4912D;
    left: 7%;
    top: 68%;
    font-size: 4vw;
    position: absolute;
}

#slut p {
    font-family: "Renner";
    color: #ffffff;
    width: 59%;
    left: 6%;
    top: 14%;
    font-size: 3.5vw;
    position: absolute;
}

#slut img {
    position: absolute;
    top: 2%;
    left: 76%;
    width: 20%;
    transform: scale(1.1);
}

.retry_knap_btn {
    background-image: url(img/cirkel.svg);
    width: 18vw;
    margin: 0;
    background-size: cover;
    padding: 28px;
    padding-top: 25px;
    padding-bottom: 29px;
    border: none;
    position: absolute;
    top: 59%;
    left: 72%;
    font-family: "Renner";
    color: #ffffff;
    font-size: 4.5vw;
    cursor: pointer;
}
