body {
    margin: 0;
}

/*****************SCENE *************/

#scene {
    position: relative;
    background-image: url(img/baggrund_skolegaard.jpg);
    background-size: cover;
    width: 100vw;
    height: 51vw;
}

/********************* START SIDE ************************/

#start {
    background-image: url(img/startside.png);
    background-size: cover;
    width: 100vw;
    height: 51vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.start_knap_btn {
    width: 25vw;
    margin: 0;
    padding: 5px;
    border: none;
    position: absolute;
    background-color: #F4912D;
    top: 60%;
    left: 15%;
    font-family: 'Frank Ruhl Libre', serif;
    color: #ffffff;
    font-size: 8vw;
    cursor: pointer;
}

/********************* PETER ************************/

/********************* CONTAINER ********************/

#peter_container {
    position: absolute;
    margin-top: 4%;
}

.peter_walk_ind {
    animation-name: peter_walk_ind_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes peter_walk_ind_kf {
    0% {
        top: -7%;
        left: 100%;
    }
    100% {
        top: -7%;
        left: 10%;
    }
}

/********************* PETER SPRITE *****************/

#peter_sprite {
    background-image: url(img/peter_sprite.svg);
    width: 90vw;
    height: 50vw;
    background-size: 800% 300%;
    position: relative;
    transform: scale(0.9);
}

.peter_walkcycle {
    animation-name: peter_walkcycle_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(8);
    animation-fill-mode: backwards;
}

@keyframes peter_walkcycle_kf {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -800% 0%;
    }
}

.peter_vinker_cycle {
    animation-name: peter_vinker_cycle_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
    /*
    top: -7%;
    left: 0%;
*/
}

@keyframes peter_vinker_cycle_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -400% -100%;
    }
}

.peter_fremad_cycle {
    animation-name: peter_fremad_cycle_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
}

@keyframes peter_fremad_cycle_kf {
    0% {
        background-position: 0% -200%;
    }
    100% {
        background-position: -400% -200%;
    }
}

/********************* PETER SLUT ****************/

/***************** del knap ***************/

#del_knap_container {
    position: relative;
    background-size: cover;
    background-image: url(img/del.svg);
    width: 71vw;
    height: 70vw;
    left: 40%;
    top: 12.5%;
    cursor: pointer;
}

.del_knap_btn {
    transform: scale(0.2);
}

/***************** slet knap ***************/

#slet_knap_container {
    position: relative;
    background-size: cover;
    background-image: url(img/slet.svg);
    width: 71vw;
    height: 70vw;
    left: 55%;
    top: -125%;
    cursor: pointer;
}

.slet_knap_btn {
    transform: scale(0.2);
}


/********************* DELING AF FOTO ****************/

#del_scene {
    position: relative;
    background-image: url(img/by_billede.jpg);
    background-size: cover;
    width: 100vw;
    height: 51vw;
    z-index: 2;

}

#del_container {
    position: absolute;
    top: 50 %;
    left: 35 %;
}

.del_container_kopi {
    position: absolute;
}

#del_sprite {
    width: 11.5vw;
    height: 23vw;
    background-size: cover;
    transform: scale(0.7);
}

.phone {
    background-image: url(img/mobil_mednogenbillede.png);
}

/********************* DELING AF FOTO SLUT ****************/

/*********************  PIGE ****************/

#pige_scene {
    position: relative;
    background-image: url();
    background-size: cover;
    width: 100vw;
    height: 51vw;
}

/********************* CONTAINER ********************/

#pige_container {
    position: absolute;
}

/********************* PIGE SPRITE *****************/

#pige_sprite {
    position: relative;
    width: 45vw;
    height: 40vw;
    background-size: 88% 90%;
}

.pige_one_sprite {
    background-image: url(pige1.jpg);
}

.pige_two_sprite {
    background-image: url(pige2.jpg);
}

.pige_three_sprite {
    background-image: url(pige3.jpg);
}

/********************* PIGE SLUT *****************/

/******************FUGL*****************/

#fugl_container {
    position: absolute;
    animation-timing-function: linear;
    margin-top: 13%;
}

.fugl_walk_ind {
    animation-name: fugl_walk_ind_kf;
    animation-duration: 5.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.1s;
    transform: scale(0.8)
}

@keyframes fugl_walk_ind_kf {
    0% {
        top: -26%;
        left: -100%;
    }

    100% {
        top: -26%;
        left: 100%;
    }
}

/********************* FUGL SPRITE *****************/

#fugl_sprite {
    background-image: url(img/fugl_asset_nu.svg);
    width: 18vw;
    height: 12vw;
    background-size: 600% 100%;
    position: relative;
}


.fugl_walkcycle {
    animation-name: fugl_walkcycle_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
    animation-fill-mode: both;

}

@keyframes fugl_walkcycle_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -600% 0%;
    }
}

/********************* SLUT SIDER *****************/

#slut_tekst_container {
    position: relative;

}

#godt_goet_tekst {
    background-image: url(img/thumbsup.png);
    background-size: cover;
    width: 100vw;
    height: 51vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}


#timer_billede {
    background-image: url(img/timer_billede.png);
    background-size: cover;
    width: 100vw;
    height: 51vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}


#slutside {
    background-image: url(img/slutside.png);
    background-size: cover;
    width: 100vw;
    height: 51vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.retry_knap_btn {
    width: 25vw;
    margin: 0;
    padding: 5px;
    border: none;
    position: absolute;
    background-color: #F4912D;
    top: 60%;
    left: 15%;
    font-family: 'Frank Ruhl Libre', serif;
    color: #ffffff;
    font-size: 8vw;
    cursor: pointer;
}
